* {
    margin: 0;
    padding: 0;
}

div#app {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    border: 1px solid rgb(0, 0, 0, 0.3);

    width: 75em;
    margin: 10em auto;
}

div#app > header {
    position: relative;
    font-size: 3.5em;
    font-weight: bold;
    text-transform: uppercase;
}

div#app > subheader {
    position: relative;
    font-size: 1.5em;
    margin-top: -10px;
    margin-bottom: 1em;
}

div#app > div.input {
    font-size: 28px;
}

div#app > div.input input {
    outline: none;
    border: none;
    border-bottom: 1px solid #c7c7c7;
    position: relative;
    width: 7em;
    font-size: 24px;
}

div#app > div#result {
    display: flex;
    margin: 10px auto;
    height: 10em;
    padding-left: 15em;
}

div#app > div#result span {
    display: block;
    position: relative;
    font-size: 24px;
    width: 5em;
    height: 1.5em;
    text-align: left;
}


div#app > div#result span#penny-result {
    left: -55%;
    top: 80%;
}

div#app > div#result span#nickel-result {
    left: -50%;
    top: 80%;
}

div#app > div#result span#dime-result {
    left: -45%;
    top: 80%;
}

div#app > div#result span#quarter-result {
    left: -40%;
    top: 80%;
}

div#app > div#result img {
    margin: 1em 35px;
}

